# ==============================================
# MLflow Configuration
# ==============================================
MLFLOW_TRACKING_URI=
MLFLOW_TRACKING_USERNAME=admin
MLFLOW_TRACKING_PASSWORD=password
MLFLOW_ENABLE_ARTIFACTS=true
MLFLOW_EXPERIMENT_NAME=mbg-sentiment-analysis
MLFLOW_MODEL_NAME=mbg-sentiment-analysis-model

# ==============================================
# S3/MinIO Configuration (for MLflow artifact storage)
# ==============================================
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=miniosecretpassword
MLFLOW_S3_ENDPOINT_URL=https://mlops-minio-api.cupcakez.my.id

# ==============================================
# Model Configuration
# ==============================================
BASE_MODEL=indolem/indobertweet-base-uncased
NUM_LABELS=3
MODEL_NAME=mbg-sentiment-analysis-model

# ==============================================
# Training Configuration
# ==============================================
MAX_LENGTH=128
LEARNING_RATE=2e-5
BATCH_SIZE=16
WEIGHT_DECAY=0.01
EPOCHS=3
FREEZE_LAYERS=6
VALIDATION_SPLIT=0.2
MIN_F1_MACRO=0.80
