name: Training Model

on:
  push:
    branches:
      - "master"
  schedule:
    - cron: "0 19 * * 0" # Senin 02:00 WIB
  workflow_dispatch:

jobs:
  retrain-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r model/requirements.txt

      - name: Setup SSH for DVC
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh

          echo "${{ secrets.DVC_SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          ssh-keyscan -p 2222 103.150.190.9 >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts

      - name: Pull weekly dataset
        run: |
          cd model
          dvc pull data/weekly/mbg.csv.dvc

      - name: Run unit tests 
        run: |
          pytest model/tests/unit

      - name: Train / Retrain model
        env:
          MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
          MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
          MIN_F1_MACRO: "0.80"
        run: |
          cd model
          python script/train.py --train-data data/weekly/mbg.csv
